flow_node_red.json
[{"id":"a6d76d0e534be3aa","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d70c868036f1d008","type":"group","z":"a6d76d0e534be3aa","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4f5ca213c7a2f4cf"],"x":14,"y":179,"w":192,"h":82},{"id":"a3eb034b8eb82622","type":"group","z":"a6d76d0e534be3aa","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ce98d2926c7db7dd"],"x":54,"y":359,"w":172,"h":82},{"id":"f8f9c5cdb25fcde6","type":"group","z":"a6d76d0e534be3aa","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["464834e4cd86f98b"],"x":214,"y":239,"w":252,"h":82},{"id":"4f5ca213c7a2f4cf","type":"mqtt in","z":"a6d76d0e534be3aa","g":"d70c868036f1d008","name":"Temperature","topic":"t_temp","qos":"1","datatype":"utf8","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":220,"wires":[["464834e4cd86f98b","3840cff053977b4a","c667728421e83ff3","c763fdd8a70ac5d6"]]},{"id":"58f6dd3252bc372e","type":"debug","z":"a6d76d0e534be3aa","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"ce98d2926c7db7dd","type":"mqtt in","z":"a6d76d0e534be3aa","g":"a3eb034b8eb82622","name":"Luminosity","topic":"t_lum","qos":"1","datatype":"utf8","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":400,"wires":[["c633a2ebf3fe5bf3","dccc9cc363d0f3a5","32b222ea947f6b64","a2aefd3d9dc7ce17"]]},{"id":"b68017c530398cd2","type":"mqtt in","z":"a6d76d0e534be3aa","name":"Humidity","topic":"t_hum","qos":"1","datatype":"utf8","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":520,"wires":[["91a8a9cb493baf4b","6aeea5ef63bdcde6","46b825bbc4d0444c"]]},{"id":"72e2f90c4202d093","type":"mqtt in","z":"a6d76d0e534be3aa","name":"RFID","topic":"t_rfid","qos":"1","datatype":"utf8","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":600,"wires":[["c51e28ec6fda2aad","c151c2d27ee7b1db","0a82d7e914a6af2a"]]},{"id":"dcc10898d1828688","type":"mqtt in","z":"a6d76d0e534be3aa","name":"system_state","topic":"t_door","qos":"1","datatype":"utf8","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":780,"wires":[["d8bacc6bb358b832","f3a45216382d8f66"]]},{"id":"464834e4cd86f98b","type":"ui_gauge","z":"a6d76d0e534be3aa","g":"f8f9c5cdb25fcde6","name":"","group":"3345324aee8429dc","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge Temperature","label":"ºC","format":"{{value}}","min":"15","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":340,"y":280,"wires":[]},{"id":"c633a2ebf3fe5bf3","type":"ui_gauge","z":"a6d76d0e534be3aa","name":"","group":"3345324aee8429dc","order":0,"width":"0","height":"0","gtype":"compass","title":"lux_gauge","label":"lux","format":"{{value}}","min":"0","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":570,"y":400,"wires":[]},{"id":"91a8a9cb493baf4b","type":"ui_gauge","z":"a6d76d0e534be3aa","name":"","group":"3345324aee8429dc","order":0,"width":0,"height":0,"gtype":"wave","title":"Gauge Humidade","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":500,"wires":[]},{"id":"3840cff053977b4a","type":"ui_chart","z":"a6d76d0e534be3aa","name":"","group":"49a2a73748efe768","order":3,"width":"6","height":"6","label":"Chart de temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"30","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":340,"y":220,"wires":[[]]},{"id":"dccc9cc363d0f3a5","type":"ui_chart","z":"a6d76d0e534be3aa","name":"","group":"49a2a73748efe768","order":3,"width":"6","height":"6","label":"Chart de luminosidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":600,"y":360,"wires":[[]]},{"id":"6aeea5ef63bdcde6","type":"ui_chart","z":"a6d76d0e534be3aa","name":"","group":"49a2a73748efe768","order":3,"width":"6","height":"6","label":"Chart de humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":540,"wires":[[]]},{"id":"60876d570a56c723","type":"influxdb out","z":"a6d76d0e534be3aa","influxdb":"497b0591e5906ba0","name":"temp_influx","measurement":"temp_mqtt","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":80,"wires":[]},{"id":"c51e28ec6fda2aad","type":"ui_text","z":"a6d76d0e534be3aa","group":"3345324aee8429dc","order":3,"width":0,"height":0,"name":"","label":"USER ID","format":"{{msg.payload}}","layout":"row-left","className":"","x":540,"y":640,"wires":[]},{"id":"5683abcc773dcc10","type":"ui_switch","z":"a6d76d0e534be3aa","name":"","label":"System Status","tooltip":"","group":"3345324aee8429dc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":560,"y":820,"wires":[[]]},{"id":"3a9b620e82069506","type":"influxdb out","z":"a6d76d0e534be3aa","influxdb":"497b0591e5906ba0","name":"lum_influx","measurement":"lum_mqtt","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":320,"wires":[]},{"id":"02b0a6f8f6accb10","type":"influxdb out","z":"a6d76d0e534be3aa","influxdb":"497b0591e5906ba0","name":"hum_influx","measurement":"hum_mqtt","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":530,"y":460,"wires":[]},{"id":"81ea4b65ad62142f","type":"ui_button","z":"a6d76d0e534be3aa","name":"","group":"3345324aee8429dc","order":5,"width":0,"height":0,"passthru":true,"label":"Increase","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"inc","payloadType":"str","topic":"inc","topicType":"str","x":860,"y":200,"wires":[["798378a45e67ab1e"]]},{"id":"693891de31288b8b","type":"ui_button","z":"a6d76d0e534be3aa","name":"","group":"3345324aee8429dc","order":5,"width":0,"height":0,"passthru":true,"label":"decrease","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"dec","payloadType":"str","topic":"dec","topicType":"str","x":860,"y":260,"wires":[["798378a45e67ab1e"]]},{"id":"f0d26cac1cccec05","type":"mqtt out","z":"a6d76d0e534be3aa","name":"","topic":"t_treshold","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"24ee05a1c46e3103","x":1240,"y":180,"wires":[]},{"id":"798378a45e67ab1e","type":"function","z":"a6d76d0e534be3aa","name":"single value","func":"while(1){\nvar state =msg.payload;\nvar local=global.get(\"temperature_treshold\");\n\nif (state==\"inc\")\n   local=local+1;\nelse if (state == \"dec\")\n    local=local-1;\n\nstate=null;\nglobal.set(\"temperature_treshold\",local);\n\nmsg.payload=local;\nreturn msg;}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":220,"wires":[["1781ee1b622fe745","f0d26cac1cccec05"]]},{"id":"32b222ea947f6b64","type":"change","z":"a6d76d0e534be3aa","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["3a9b620e82069506"]],"info":"{\"value\":msg.payload}"},{"id":"46b825bbc4d0444c","type":"change","z":"a6d76d0e534be3aa","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["02b0a6f8f6accb10"]],"info":"{\"value\":msg.payload}"},{"id":"fe82432ff1fdf282","type":"debug","z":"a6d76d0e534be3aa","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1210,"y":100,"wires":[]},{"id":"1bb5c42d1fe52200","type":"function","z":"a6d76d0e534be3aa","name":"power_function","func":"global.set(\"temperature_treshold\",25);\nmsg.payload=global.get(\"temperature_treshold\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":100,"wires":[["fe82432ff1fdf282"]]},{"id":"1781ee1b622fe745","type":"debug","z":"a6d76d0e534be3aa","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":300,"wires":[]},{"id":"920afdd0ab4a98e5","type":"debug","z":"a6d76d0e534be3aa","name":"debug 4","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":760,"wires":[]},{"id":"d8bacc6bb358b832","type":"function","z":"a6d76d0e534be3aa","name":"boolean","func":"var bool_s\nif(msg.payload==\"ON\")\nbool_s=true;\nelse\nbool_s=false;\n\nmsg.payload=bool_s;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":800,"wires":[["920afdd0ab4a98e5","5683abcc773dcc10"]]},{"id":"8bb49a69aa893ee7","type":"influxdb out","z":"a6d76d0e534be3aa","influxdb":"497b0591e5906ba0","name":"user_influx","measurement":"user_id","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":600,"wires":[]},{"id":"3fb89a84de328062","type":"influxdb out","z":"a6d76d0e534be3aa","influxdb":"497b0591e5906ba0","name":"system_state_influx","measurement":"system_state","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":830,"y":700,"wires":[]},{"id":"f3a45216382d8f66","type":"change","z":"a6d76d0e534be3aa","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":740,"wires":[["3fb89a84de328062"]],"info":"{\"value\":msg.payload}"},{"id":"c667728421e83ff3","type":"change","z":"a6d76d0e534be3aa","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["60876d570a56c723","58f6dd3252bc372e"]],"info":"{\"value\":msg.payload}"},{"id":"c151c2d27ee7b1db","type":"change","z":"a6d76d0e534be3aa","name":"Format","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[["8bb49a69aa893ee7"]],"info":"{\"value\":msg.payload}"},{"id":"c93e08c1915e787d","type":"ui_button","z":"a6d76d0e534be3aa","name":"","group":"3345324aee8429dc","order":7,"width":0,"height":0,"passthru":true,"label":"Power","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"power","payloadType":"str","topic":"power","topicType":"msg","x":850,"y":140,"wires":[["1bb5c42d1fe52200","f0d26cac1cccec05"]]},{"id":"769b22eab60edd6e","type":"mqtt in","z":"a6d76d0e534be3aa","name":"","topic":"latency","qos":"2","datatype":"auto-detect","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":880,"wires":[["236bf6a956970b43"]]},{"id":"591873ca8729d821","type":"mqtt in","z":"a6d76d0e534be3aa","name":"","topic":"fan_state","qos":"2","datatype":"auto-detect","broker":"24ee05a1c46e3103","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":940,"wires":[["bc9cbb30845551be"]]},{"id":"bc9cbb30845551be","type":"ui_text","z":"a6d76d0e534be3aa","group":"3345324aee8429dc","order":3,"width":0,"height":0,"name":"","label":"Estado da ventoinha:","format":"{{msg.payload}}","layout":"row-left","className":"","x":340,"y":940,"wires":[]},{"id":"236bf6a956970b43","type":"ui_text","z":"a6d76d0e534be3aa","group":"3345324aee8429dc","order":3,"width":"6","height":"1","name":"","label":"Latency of ESP32 and MQTT Broker:","format":"{{msg.payload}}ms","layout":"row-left","className":"","x":390,"y":880,"wires":[]},{"id":"c763fdd8a70ac5d6","type":"noraf-sensor","z":"a6d76d0e534be3aa","devicename":"temperature","roomhint":"","name":"","temperature":true,"unit":"C","humidity":false,"passthru":false,"nora":"9bda97d6cf62ea9f","topic":"temperature","filter":false,"sensorSupport":true,"sensorType":"AirQuality","sensorStates":[],"sensorStatesThatNotify":[],"sensorNumeric":false,"openCloseSupport":false,"openCloseDiscrete":false,"onOffSupport":false,"x":290,"y":40,"wires":[]},{"id":"d03340c878dd631d","type":"noraf-switch","z":"a6d76d0e534be3aa","devicename":"Power","roomhint":"","name":"","passthru":false,"errorifstateunchaged":false,"nora":"9bda97d6cf62ea9f","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"ack","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":710,"y":140,"wires":[["c93e08c1915e787d"]]},{"id":"1e2264ea30fa19f6","type":"noraf-switch","z":"a6d76d0e534be3aa","devicename":"Incrementar temperatura","roomhint":"","name":"","passthru":false,"errorifstateunchaged":true,"nora":"9bda97d6cf62ea9f","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"ack","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":670,"y":200,"wires":[["81ea4b65ad62142f"]]},{"id":"97acd62f84d1fe18","type":"noraf-switch","z":"a6d76d0e534be3aa","devicename":"Diminuir temperatura","roomhint":"","name":"","passthru":false,"errorifstateunchaged":false,"nora":"9bda97d6cf62ea9f","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"ack","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":660,"y":260,"wires":[["693891de31288b8b"]]},{"id":"a2aefd3d9dc7ce17","type":"noraf-sensor","z":"a6d76d0e534be3aa","devicename":"Luminosidade","roomhint":"","name":"","temperature":true,"unit":"C","humidity":false,"passthru":false,"nora":"9bda97d6cf62ea9f","topic":"temperature","filter":false,"sensorSupport":true,"sensorType":"AirQuality","sensorStates":[],"sensorStatesThatNotify":[],"sensorNumeric":false,"openCloseSupport":false,"openCloseDiscrete":false,"onOffSupport":false,"x":780,"y":420,"wires":[]},{"id":"0a82d7e914a6af2a","type":"noraf-sensor","z":"a6d76d0e534be3aa","devicename":"RFID ID","roomhint":"","name":"","temperature":true,"unit":"C","humidity":false,"passthru":false,"nora":"9bda97d6cf62ea9f","topic":"temperature","filter":false,"sensorSupport":true,"sensorType":"AirQuality","sensorStates":[],"sensorStatesThatNotify":[],"sensorNumeric":false,"openCloseSupport":false,"openCloseDiscrete":false,"onOffSupport":false,"x":780,"y":520,"wires":[]},{"id":"24ee05a1c46e3103","type":"mqtt-broker","name":"","broker":"192.168.1.7","port":"1883","tls":"7929e72a1ea5c499","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3345324aee8429dc","type":"ui_group","name":"Monitorization","tab":"25249ea24872cce4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"49a2a73748efe768","type":"ui_group","name":"Statistics","tab":"25249ea24872cce4","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"497b0591e5906ba0","type":"influxdb","hostname":"192.168.1.7","port":"8086","protocol":"http","database":"homeassistant","name":"","usetls":false,"tls":"7929e72a1ea5c499","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"9bda97d6cf62ea9f","type":"noraf-config","name":"nora config","group":"","twofactor":"off","twofactorpin":"","localexecution":false,"structure":"homeassistant","storeStateInContext":false,"disableValidationErrors":false,"sendDeviceNameAndLocation":false},{"id":"7929e72a1ea5c499","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"25249ea24872cce4","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]